@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/*
TODO: finir d'intégrer en JSS

.focused {
  position: relative;
  z-index: 0;
  border-radius: .3em;
  overflow: hidden;
  padding: 2rem;
}

.focused::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#2222aa, #2222aa), linear-gradient(#2222aa, #2222aa), linear-gradient(#2222aa, #2222aa), linear-gradient(#2222aa, #2222aa);
  animation: rotate 14s linear infinite;
}

.focused::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: .2em;
  top: .2em;
  width: calc(100% - .4em);
  height: calc(100% - .4em);
  background: white;
}
*/